In [2]:
import pandas as pd

In [3]:
df=pd.read_csv(r"C:\Users\admin\train.ft.txt.bz2\train.ft.txt\train.ft.txt",sep="\t",header=None,encoding="utf8")

In [4]:
df['Label'] = df[0].apply(lambda x: x.split(" ", 1)[0])

In [5]:
df['Reviews'] = df[0].apply(lambda x: x.split(" ", 1)[1])

In [6]:
df=df.drop([0],axis=1)

In [7]:
df['Label'] = df['Label'].apply(lambda x: x.split("__label__", 1)[1])

In [8]:
df.head()

  Label                                            Reviews
0     2  Stuning even for the non-gamer: This sound tra...
1     2  The best soundtrack ever to anything.: I'm rea...
2     2  Amazing!: This soundtrack is my favorite music...
3     2  Excellent Soundtrack: I truly like this soundt...
4     2  Remember, Pull Your Jaw Off The Floor After He...

In [11]:
df = df.head(10000)

In [12]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [30]:
df['tokenized_sents'] = df.apply(lambda row: nltk.word_tokenize(row['Reviews']), axis=1)

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Label            10000 non-null  object
 1   Reviews          10000 non-null  object
 2   tokenized_sents  10000 non-null  object
 3   is_train         10000 non-null  bool
dtypes: bool(1), object(3)
memory usage: 244.3+ KB

In [133]:
df1=pd.read_csv(r"C:\Users\admin\test.ft.txt.bz2\test.ft.txt\test.ft.txt",sep="\t",header=None,encoding="utf8")

In [134]:
df1['Label'] = df1[0].apply(lambda x: x.split(" ", 1)[0])

In [135]:
df1['Reviews'] = df1[0].apply(lambda x: x.split(" ", 1)[1])

In [136]:
df1=df1.drop([0],axis=1)

In [137]:
df1['Label'] = df1['Label'].apply(lambda x: x.split("__label__", 1)[1])

In [138]:
df1.head()

  Label                                            Reviews
0     2  Great CD: My lovely Pat has one of the GREAT v...
1     2  One of the best game music soundtracks - for a...
2     1  Batteries died within a year ...: I bought thi...
3     2  works fine, but Maha Energy is better: Check o...
4     2  Great for the non-audiophile: Reviewed quite a...

In [156]:
df1=df1.head(1000)

In [174]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Label            1000 non-null   object
 1   Reviews          1000 non-null   object
 2   tokenized_sents  1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [157]:
df1['tokenized_sents'] = df.apply(lambda row: nltk.word_tokenize(row['Reviews']), axis=1)

In [185]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Label            1000 non-null   object
 1   Reviews          1000 non-null   object
 2   tokenized_sents  1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [159]:
from sklearn.feature_extraction.text import CountVectorizer

In [186]:
vectorizer = CountVectorizer(min_df=0.,max_df=1.0)
vdf_test=vectorizer.fit_transform(df1['Reviews'])

In [187]:
vdf_test.shape

(1000, 9404)

In [161]:
vectorizer = CountVectorizer(min_df=0.,max_df=1.0)
vdf=vectorizer.fit_transform(df['Reviews'])

In [162]:
X_train=vdf 
y_train=df['Label']

In [188]:
X_Test=vdf_test
y_test=df1['Label']

In [191]:
X_Test.shape

(1000, 9404)

In [165]:
from sklearn.ensemble import RandomForestClassifier

In [154]:
clf=RandomForestClassifier()

In [155]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [193]:
y_pred=clf.predict(X_test)

In [195]:
y_pred

array(['2', '2', '1', ..., '1', '1', '2'], dtype=object)